<style>
    .channel-h5__footer_next {
        border-top: 1px solid #f0f0f0;
        overflow: hidden;
    }
    .channel-h5__footer_next > a:first-child {
        border-right: 1px solid #f0f0f0;
    }
    .channel-h5__footer_next > a {
        float: left;
        width: 50%;
        padding: 14px;
        font: 13px/1.3em a;
        color: rgba(0,0,0,0.9);
        text-align: center;
        box-sizing: border-box;
    }
</style>

       <section class="channel-h5 top-home">
            <div class="channel-h5__header">
                <p class="channel-h5__title">
                    男生最爱
                </p>    
            </div>
            <div>
                <div>
                    <ul class="list-h5">
                        <li v-for="item in male" v-if="$index<6" @click="toBook(item.id)">
                            <div class="book-h5">
                                <div class="book-h5__cover">
                                    <img alt="{{item.title}}" :src="item.cover">
                                    <p class="book-h5__finish">完结</p>
                                </div>
                                <div class="book-h5__info">
                                    <p class="book-h5__title">{{item.title}}</p>
                                    <p class="book-h5__author">{{item.author}}</p>
                                    <p class="book-h5__summary">{{item.summary}}</p>
                                    <div class="book-h5__wrap">
                                        <div class="book-h5__tag" v-for="tag in item.tags" v-if="$index<6">{{tag}}</div>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            
            <div class="channel-h5__footer_next">
                <a class="btn-h5__next" href="javascript:">换一换</a>
                    <a class="btn-h5__more" href="/male">男生频道&gt;&gt;</a>
            </div>
        </section>